body{
    background-color:#100f10;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
    min-height: 100vh;
}
#backgroundvideo{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position:absolute;
    opacity: 0.3;
}
/* start navbar */
.navbar .container-fluid{
    margin: 30px 20px 0px ;
}

.navbar .navbar-nav .nav-link{
    position: relative;
    background-color: transparent;
    font-family: Bitter, serif;
    text-shadow: 1px 1px 3px #000;
    display: inline-block;
    font-family: Merriweather, serif;
    color: #e7e7e7;
    font-size: 13px;
    line-height: 17px;
    font-weight: 900;
    letter-spacing: 1px;
   
}
.navbar .navbar-toggler{
    color: white;
    border-color: transparent;
    font-size: 24px;
    cursor: pointer;
    font-family: Bitter, serif;
    text-shadow: 1px 1px 3px #000;
}
.navbar .navbar-toggler:hover{
    color: red;
}
.navbar .navbar-toggler:focus{
    box-shadow: none;
    background-color: #000000;
}
@media(max-width: 991px){
  .ul-bg{
    background-color: black;
    border-radius: 20px;
    display: inline;
    position: relative;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 20px;
    float: none;
    font-size: 12px;
    text-align: left;
    -o-object-fit: fill;
    object-fit: fill;
  }
}
/* end navbar*/

/*start landing*/
.landing{
    text-align: center;
    display: block;
    position: relative;
    padding: 45px 34px 45px 40px;
    z-index: 1;
    border-width: 4px;
}
.fontBitter{
    color:#ebebeb;
    font-size: 30px;
    font-style: italic;
    font-family: Bitter, serif;
    font-weight: 700;
  
}
.image{
    width: 295px;
    height: auto;
    border-radius: 150px;
    margin: 0px 285.5px;
}
#first{
   font-size: 25px;
   font-family: "Bitter" , serif;
   line-height: 30px;
   font-weight: 700;
}
#second{
    font-size: 19px;
    font-family: "Droid sans" sans-serif;
    padding: 20px 0px 40px;
    text-align: left;
}
#connect-button{
    background-color: rgba(0, 0, 0, 0.55);
    padding:10px 20px;
    border-color: white;
    border-radius: 50px;
    border-width: 1px;
    border-style: solid;
    margin: 10px 0px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Droid Sans' sans-serif;
    text-decoration: none;
}
.claim-bones-button{
    display: inline-block;
    color:whitesmoke;
    text-decoration: none;
    cursor: pointer;
}
.div-block-5{
    margin: 91px 0px ;
}
/*end landing*/

/*start footer*/
footer{
    background-color: #100f10;
    font-size: 12px;
    line-height: 18px;
    margin-top: 0px;
    padding: 10px 0px 20px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
footer .container{
    margin-bottom: 0px;
    font-size: 12px;
    line-height: 18px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 15px;
}
footer .container a{
  color: #999;
}
footer .copyright .text{
    color: #00d6b4;
}
footer .copyright{
 font-size: 12px;
 text-align: center;
}
footer .copyright small{
font-size: 13px;
}
/*end footer*/